<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 my-3">
      <%-include('./includes/messages')%>
        <div class="row">
          <div class="col-lg my-5">
            <h4>Cadastre ou edite os contatos abaixo</h4>
            <%if(contato._id) { %>
            <form class="form-cadastro" action="/contact/edit/<%= contato._id %>" method="POST">
            <% } else { %>
            <form class="form-cadastro" action="/contact/register" method="POST">
            <%} %>
              <input type="hidden" name="_csrf" value=<%= csrfToken %>>
              <div class="form-group">
                <label>Nome:</label>
                <input type="text" value="<%= contato.nome %>" class="form-control" name="nome">
              </div>
              <div class="form-group">
                <label>Sobrenome:</label>
                <input type="text" value="<%= contato.sobrenome %>" class="form-control" name="sobrenome">
              </div>
              <div class="form-group">
                <label>Telefone:</label>
                <input type="text" value="<%= contato.telefone %>" class="form-control" name="telefone">
              </div>
              <div class="form-group">
                <label>E-mail</label>
                <input type="email" value="<%= contato.email %>" class="form-control" name="email">
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
